<td class="milestone-name"><input type="text" name="name" value="{{name}}" autofocus /></td>
<td class="milestone-startDate date">{{{formatDateWithYear startDate}}}</td>
<td class="milestone-duration">{{durationOfMilestone this}}</td>
<td class="milestone-tickets {{#if tickets}}{{else}}zero{{/if}}">
  {{#if ticketsCompleted}}{{ticketsCompleted}}/{{/if}}{{tickets}}
</td>
<td class="milestone-completion">{{milestonePercentComplete this}}</td>
<td class="milestone-locked">
  <input type="hidden" name="locked" value="0" />
  <input type="checkbox" name="locked" value="1" {{#if locked}}checked{{/if}} />
</td>
