<td class="milestone-name"><a href="/roadmap/milestones/{{id}}">{{name}}</a></td>
<td class="milestone-startDate date">{{{formatDateWithYear startDate}}}</td>
<td class="milestone-duration">{{durationOfMilestone this}}</td>
<td class="milestone-lanes">{{lanes}}</td>
<td class="milestone-tickets {{#if tickets}}{{else}}zero{{/if}}">
  {{#if ticketsCompleted}}{{ticketsCompleted}}/{{/if}}{{tickets}}
</td>
<td class="milestone-completion">{{milestonePercentComplete this}}</td>
<td class="milestone-locked">
  {{#if locked}}
    <i class="fa fa-lock"></i>
  {{else}}
    <i class="fa fa-unlock-alt"></i>
  {{/if}}
</td>
