<%= form_for @roadmap, :html => { :class => "form-horizontal" } do |f| %>
  <fieldset>
    <div class="control-group">
      <%= f.label :name, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name, :class => "text_field" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :visibility, :class => "control-label" %>
      <div class="controls">
        <%= f.label :visibility_everyone do %>
          <%= f.radio_button :visibility, "Everyone" %> Everyone
        <% end %>
        <%= f.label :visibility_team_members do %>
          <%= f.radio_button :visibility, "Team Members" %> Team Members
        <% end %>
        <%= f.label :visibility_team_owners do %>
          <%= f.radio_button :visibility, "Team Owners" %> Team Owners
        <% end %>
      </div>
    </div>

    <div id="teams_checkboxes" class="control-group">
      <label class="control-label">Teams</label>
      <div class="controls">
        <% @teams.pluck(:id, :name).each do |team_id, team_name| %>
          <label for="roadmap_team_ids_<%= team_id %>">
            <%= check_box_tag "roadmap[team_ids][]", team_id, @roadmap.team_ids.member?(team_id),
                  id: "roadmap_team_ids_#{team_id}" %>
            <%= team_name %>
          </label>
        <% end %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => "btn btn-primary", disabled: true %>
      <%= link_to "Cancel", (@roadmap.persisted? ? roadmap_path(@roadmap) : roadmaps_path), :class => "btn" %>

      <% if @roadmap.persisted? && can?(:destroy, @roadmap) %>
        <button class="btn btn-delete btn-danger" id="delete_roadmap_button">Delete</button>
      <% end %>
    </div>
  </fieldset>
<% end %>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    var $submit = $('input[type="submit"]');
    function enableSubmit() {
      $submit.prop('disabled', $('#teams_checkboxes :checkbox:checked').length == 0);
    }
    $('#teams_checkboxes').on('click', ':checkbox', enableSubmit);
    enableSubmit();

    var $checkboxes = $('#teams_checkboxes :checkbox');
    if($checkboxes.length == 1) {
      $checkboxes.eq(0).prop('checked', true);
      $submit.prop('disabled', false);
    }

    $('#delete_roadmap_button').click(function(e) {
      e.preventDefault();
      App.confirmDelete({
        resource: 'Roadmap',
        message: 'This will delete "<%= @roadmap.name %>" and its history.',
        url: <%=raw roadmap_path(@roadmap).to_json %>
      });
    });

    $('#roadmap_name').select();
  });
</script>
<% end %>
