<% content_for :title do %>
<h1 class="project-banner space-below">
  <small>Roadmap:</small>
  <%= @roadmap.name %>

  <%= render partial: "projects/keyboard_shortcuts" %>
</h1>
<% end %>

<div id="roadmap_history_view"></div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    var milestones = <%=raw Houston::Roadmaps::RoadmapCommitMilestonesPresenter.new(@milestones).to_json %>;
    var commits = <%=raw Houston::Roadmaps::RoadmapCommitPresenter.new(@commits).to_json %>;
    new Roadmaps.RoadmapHistoryView({
      milestones: Roadmaps.getMilestonesByCommit(milestones, commits),
      commits: commits,
      commitId: <%= @commit_id %>,
      markers: <%=raw @markers.to_json %>,
      showWeekends: true
    }).render();
  });
</script>
<% end %>
