<% content_for :title do %>
<h1 class="project-banner space-below">
  <small>Roadmap:</small>
  <%= @roadmap.name %>

  <%= render partial: "projects/keyboard_shortcuts" %>
</h1>
<% end %>

<div id="play_roadmap_view">
  <div id="roadmap" class="roadmap callout callout-banner"></div>
</div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    var milestones = <%=raw Houston::Roadmaps::RoadmapCommitMilestonesPresenter.new(@milestones).to_json %>;
    var commits = <%=raw Houston::Roadmaps::RoadmapCommitPresenter.new(@commits).to_json %>;
    new Roadmaps.PlayRoadmapView({
      milestones: Roadmaps.getMilestonesByCommit(milestones, commits),
      commits: commits,
      start: new Date(<%= @start.year %>, <%= @start.month - 1 %>, <%= @start.day %>),
      end: new Date(<%= @end.year %>, <%= @end.month - 1 %>, <%= @end.day %>),
      showWeekends: true
    }).render();
  });
</script>
<% end %>
