<% content_for :title do %>
<h1 class="project-banner space-below">
  <small>Roadmap:</small>
  <%= @roadmap.name %>
  <%= link_to "Edit", edit_roadmap_path(@roadmap), class: "btn btn-default" %>
  <%= button_to "Duplicate", duplicate_roadmap_path(@roadmap), class: "btn btn-default" %>

  <span class="buttons" style="float: right;">
    <button id="reset_roadmap" class="btn">Reset</button>
    <button id="save_roadmap" class="btn btn-primary">Save</button>
  </span>
</h1>
<% end %>

<div id="roadmap_view"></div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    var milestones = new Roadmaps.Milestones(
      <%= raw Houston::Roadmaps::RoadmapMilestonePresenter.new(@milestones).to_json %>,
      {parse: true});

    var goals = new Roadmaps.Goals(
      <%= raw MultiJson.dump(@goals.map { |goal| {
            id: goal.id,
            type: goal.class.name,
            name: goal.name,
            projectId: goal.project.id,
            projectColor: goal.project.color,
            projectName: goal.project.name
          } }) %>,
      {parse: true});

    new Roadmaps.EditRoadmapView({
      el: $('#roadmap_view')[0],
      id: <%= @roadmap.id %>,
      milestones: milestones,
      projects: <%= raw MultiJson.dump(@roadmap.projects.map { |project| {
        id: project.id,
        color: project.color,
        name: project.name
      } }) %>,
      goals: goals
    }).render();
  });
</script>
<% end %>
