<div id="graph" class="burndown-chart callout callout-banner"></div>

<section class="milestone-section">
  <header class="has-buttons">
    <div id="goal_add_todolist" class="btn-group pull-right">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        Add a to-do list
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        {{#unattachedTodoLists}}
        <li class="{{#if archived}}todolist-archived{{/if}}">
          <a data-provider="{{provider}}" data-id="{{id}}" data-name="{{name}}" class="add-todolist">
            {{!-- <b class="bubble" style="background-color:{{color}};"></b> --}}{{name}}
          </a>
        </li>
        {{/unattachedTodoLists}}
        {{#if connectableAccounts}}
          {{#if unattachedTodoLists}}
            <li class="divider"></li>
          {{/if}}
          {{#connectableAccounts}}
            <li><a href="/todoist/auth">Connect a Todoist Account</a></li>
          {{/connectableAccounts}}
        {{/if}}
      </ul>
    </div>
    <h3>To-Do Lists</h3>
  </header>
  {{#todoLists}}
    <div class="todolist" id="todolist_{{id}}">
      <div class="progress-pie"></div>
      <span class="fraction">
        <span class="divisor">{{completedItemsCount}}</span>/<span class="dividend">{{itemsCount}}</span>
      </span>
      <span class="todolist-name">{{name}}</span>
      <div class="pull-right">
        <a href="todoist://project?id={{remoteId}}">Open in App</a>
        <a class="delete-link delete-todolist" href="#" data-id="{{id}}" title="Delete">Delete</a>
      </div>
    </div>
  {{/todoLists}}
</section>

<hr/>

{{#if goal.closed}}
  <button id="reopen_goal_button" class="btn btn-default">Reopen</button>
{{else}}
  <button id="close_goal_button" class="btn btn-default">Close</button>
{{/if}}
