<tr id="ticket_{{id}}" class="ticket {{#closedAt}}ticket-released{{/closedAt}} {{#resolved}}ticket-resolved{{/resolved}} {{#closedAt}}ticket-closed{{/closedAt}}" rel="ticket" data-number="{{number}}" data-id="{{id}}">
  <td class="ticket-handle"></td>
  <td class="ticket-number">#{{number}}</td>
  <td class="ticket-summary">
    {{summary}}
    {{#tags}}
      <span class="ticket-tag" style="background-color: #{{color}}">{{name}}</span>
    {{/tags}}
  </td>
  <td class="ticket-effort">
    {{estimatedEffort}}
  </td>
  <td class="ticket-progress">
    {{{ticketPercentComplete this}}}
  </td>
  <td class="ticket-status">
    {{#if closedAt}}
      <i class="fa fa-ban"></i> Closed
    {{else}}{{#if closedAt}}
      <i class="fa fa-paper-plane"></i> Released
    {{else}}
      <i class="fa fa-circle-o"></i> Open
    {{/if}}{{/if}}
  </td>
  <td class="ticket-remove">
    <a class="remove-ticket-button remove-button"></a>
  </td>
</tr>
