<%= render partial: "projects/header", locals: {project: @project, subtitle: "Roadmap"} %>

<div id="roadmap_view" class="hide-completed"></div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    var milestones = <%= raw Houston::Roadmap::MilestonePresenter.new(@milestones).to_json %>;
    Roadmap.milestones = new Roadmap.Milestones(milestones, {parse: true});
    <% if can?(:manage, @project.milestones.build) %>
    new Roadmap.EditProjectRoadmapView({
      el: $('#roadmap_view')[0],
      projectId: <%= @project.id %>,
      projectSlug: '<%= @project.slug %>',
      projectColor: '<%= @project.color %>',
      markers: <%=raw @markers.to_json %>,
      milestones: Roadmap.milestones
    }).render();
    <% else %>
    new Roadmap.ShowProjectRoadmapView({
      el: $('#roadmap_view')[0],
      projectId: <%= @project.id %>,
      markers: <%=raw @markers.to_json %>,
      milestones: Roadmap.milestones,
      showWeekends: true
    }).render();
    <% end %>
  });
</script>
<% end %>
