<h1>Roadmap</h1>

<div id="roadmap" class="roadmap-dashboard"></div>

<div id="graph" class="burndown-chart"></div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    Roadmaps.milestones = new Roadmaps.Milestones(
      <%= raw Houston::Roadmaps::RoadmapMilestonePresenter.new(@milestones).to_json %>,
      {parse: true});

    var viewport = new Roadmaps.Viewport({
      start: new Date(<%=raw @range.begin.to_json %>),
      end: new Date(<%=raw @range.end.to_json %>)
    });

    view = new Roadmaps.RoadmapView({
      milestones: Roadmaps.milestones,
      roadmapId: <%= @roadmap.id %>,
      showToday: <%= @show_today %>,
      showThumbnail: false,
      showProgress: true,
      linkMilestones: true,
      viewport: viewport
    });

    view.render();


    <% if @tasks %>
    var tasks = <%=raw(@tasks.to_json)%>;
    new Houston.BurndownChart()
      .margin({ top: 40, right: 0, bottom: 0, left: 0 })
      .snapTo(function(date) {
        var wday = date.getDay();
        var daysUntilMonday = 1 - wday;
        if(daysUntilMonday < 0) daysUntilMonday += 7;
        return daysUntilMonday.days().after(date);
      })
      .nextTick(function(date) { return 1..week().after(date) })
      .dateFormat(d3.time.format('%b %e'))
      .radius(4)
      .minDate(viewport.get('start'))
      .maxDate(viewport.get('end'))
      .data(tasks, { regression: false, burnup: true })
      .render();
    <% end %>


    new Refresher()
      .container('#container')
      .interval(45 * Duration.MINUTE)
      .callback(function() {
        $.getJSON(window.location.path, function(response) {
          Roadmaps.milestones.reset(response.milestones, {parse: true});
          viewport.set({
            start: new Date(response.range.start),
            end: new Date(response.range.end)
          });
        });
      }).render();
  });
</script>
<% end %>
