<div id="roadmap" class="roadmap callout callout-banner"></div>

<form id="roadmap_commits">
  <ul>
    <li class="roadmap-commit">
      <label for="commit_id_0">
        <input id="commit_id_0" name="commit_id" type="radio" value="0" />
        Now
      </label>
    </li>
    {{#commits}}
      <li class="roadmap-commit">
        <label for="commit_id_{{id}}">
          <input id="commit_id_{{id}}" name="commit_id" type="radio" value="{{id}}" />
          {{formatDateWithYear2 createdAt}}
          {{{avatar user.email 24 user.name}}}
          {{message}}
        </label>
      </li>
    {{/commits}}
  </ul>
</form>
